<div class="show-nav">
    <a href="#/">home</a>
</div>
<div class="col-lg-8 col-lg-offset-2" align="center">

        <h1 style="margin: 60px 0">Dashboard Carros</h1>

        <img src="public/img/car.jpg" alt="Carro" width="400">

        <h6 align="right">by Allan Lancioni</h6>
        <hr>
</div>

<div class="col-lg-8 col-lg-offset-2" >
    <div class="options">
        <a href="#">Home</a>
        <a href="#/cadastro">Cadastrar carro</a>
        <a href="#/listagem">Listar todos</a>
    </div>
</div>
