<div class="col-md-12">
    <div class="show-nav">
        <a href="#/">home</a>
        <span>/</span>
        <a href="#/listagem">listagem</a>
    </div>

    <h2>Todos carros cadastrados</h2>

    <br>
    <div id="alert-container"></div>
    <br>
    <div class="table-responsive">

        <table class="table table-bordred table-striped">
            <thead>
                <th>ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Ano</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>

            <tbody id="listagem-table"></tbody>

        </table>

    </div>

    <button class="btn btn-primary" onclick="controller.getData(true)">Atualizar cache</button>
    <a class="btn btn-primary" href="#/cadastro">Cadastrar veículo</a>

</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Excluir registro</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Tem certeza que deseja excluir esse registro?</div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-role="confirm-delete"><span class="glyphicon glyphicon-ok-sign" ></span> Yes</button>
                <button type="button" class="btn btn-default" data-role="cancel-delete" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>